<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>DTC</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css'%}">
    <!-- style css -->
    <link rel="stylesheet" href="{% static 'core/css/style.css'%}">
    <!-- Responsive-->
    <link rel="stylesheet" href="{% static 'core/css/responsive.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/owl.carousel.min.css'%}">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{% static 'core/css/jquery.mCustomScrollbar.min.css'%}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
        media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/font-awesome.min.css'%}">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

    {% block style %}
    {% endblock %}
</head>

<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="/static/core/images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <div>
        {% block menu %}
        {% endblock menu %}
        {% block content %}
        {% endblock content %}
    </div>
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row mx-auto" >
                    <div class="col-md-12">
                        <p>© 2021 Todos los derechos reservados.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Javascript files-->
    <script src="{% static 'core/js/jquery.min.js'%}"></script>
    <script src="{% static 'core/js/popper.min.js'%}"></script>
    <script src="{% static 'core/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'core/js/jquery-3.0.0.min.js'%}"></script>
    <script src="{% static 'core/js/plugin.js'%}"></script>
    <!-- sidebar -->
    <script src="{% static 'core/js/jquery.mCustomScrollbar.concat.min.js'%}"></script>
    <script src="{% static 'core/js/custom.js'%}"></script>
    <script src="{% static 'core/js/owl.carousel.min.js'%}"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
        $(document).ready(function () {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                margin: 10,
                nav: true,
                loop: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 3
                    }
                }
            })
        })
    </script>

    <script>
        $('.content').hide();

        $('.slider').click(function () {
            $(this).next('.content').slideToggle();
            this.toggle = !this.toggle;
            $(this).children("span").text(this.toggle ? "-" : "+");
            return false;
        });
    </script>
</body>

</html>